SQUARE_ACCESS_TOKEN=TODO_SQUARE_SANDBOX_ACCESS_TOKEN
SQUARE_LOCATION_ID=TODO_SQUARE_SANDBOX_LOCATION_ID
SQUARE_WEBHOOK_SIGNATURE_KEY=TODO_SQUARE_SANDBOX_WEBHOOK_SIGNATURE_KEY
APP_ORIGIN=http://localhost:5173
